######################################################################
# Miyoka Config file
#
# Do NOT share it with someone else!
######################################################################

game:
  name: sf6
  window:
    name: Street Fighter 6
  players:
    # `name`: Name of the player displayed in replay viewer.
    # `id`: Identifier of the player in the game. Replay Uploader crawls replays associated with the ID in the game.
    # `pattern`: Pattern of the player name in the game. This is used to filter the replay dataset for each player.
    - name: "Player1"
      id: "<your-player-id>"
      pattern: "Player1"
    # 複数プレイヤーを登録する場合は以下のように追加
    # - name: "Player2"
    #   id: "<player2-id>"
    #   pattern: "Player2"
  # Alternatively, you can specify Replay IDs to be recorded.
  # In this case, `players` above will be ignored.
  # replay_ids:
  #  - ABCDXQPDH
  #  - CBADXQPDH
  extra:
    # Language setting for template matching. Supported values: en, jp
    original_language: en
    original_quality: Normal
    original_display_mode: Windowed
replay_recorder:
  # How many replays to be recorded per run.
  max_replays_per_run: 100
  # Stop recording after the number of duplicate replays.
  stop_after_duplicate_replays: 3
  # If true, skip recording the replay. This is useful to extract only replay summaries.
  skip_recording: false
  # Directory to save the recorded replays. Supports absolute or relative paths.
  # Actual files are placed under <local_file_storage_dir>/<player_id>/.
  local_file_storage_dir: replays
  # If true, each round is recorded separately. e.g. If a match had three rounds, there will be three videos.
  separate_round: false
  # If true, exit the game when replay upload is done.
  exit_to_desktop: true
log:
  name: miyoka
  dir_path: logs
  file_name: miyoka.log
  standard_output: true
  file_output: true
  clear_everytime: false
